body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.picture {
    width: 150px;
    border-radius: 10px;
    border: 4px dotted #fdf0d5;
}
.card {
    width: 400px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    color: #ffd6ff;
    background-color: #c8b6ff;
    border-bottom: 8px solid #ffd6ff;
    border-radius: 20px;
    border-top: 4px solid #ffb6ff;
    }